@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 346.8 77.2% 49.8%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 355.7 100% 97.3%;
  --primary-foreground: 210 40% 98%;
  --secondary: 355.7 100% 97.3%;
  --secondary-foreground: 346.8 77.2% 49.8%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --ring: 346.8 77.2% 49.8%;
  --radius: 0.75rem;
}

@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
}
* {
  font-family: "Inter", sans-serif;
}

@keyframes slowBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* La distancia del rebote */
  }
}

@layer utilities {
  .animate-slow-bounce {
    animation: slowBounce 4s ease-in-out infinite; /* 2s es la duración más lenta */
  }
}
